{% extends 'base.html.twig' %}

{% block title %}Edit Comedien{% endblock %}

{% block body %}
    <h1>Edit Comedien</h1>

    {{ include('comedien/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comedien_index') }}">back to list</a>

    {{ include('comedien/_delete_form.html.twig') }}
{% endblock %}
