{% extends 'base.html.twig' %}

{% block title %}Nouveau Comedien{% endblock %}

{% block body %}
    <h1>Nouveau Comedien</h1>

    {{ include('comedien/_form.html.twig') }}

    <a href="{{ path('comedien_index') }}">Retour à la liste</a>
{% endblock %}
